/* naam:
*/

/* 
kleuren:
    oranje: orange
    wit:    white
    blauw:  0090e3
*/

* {
    box-sizing: border-box;
    font-size: 18pt;
}

form {
    width: 700px;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
}
section{
    display: flex;
    border: 2px orange solid;
    margin: 5px;
    flex-direction: row;
    align-content: center;
}
article{
    margin: 10px;
}
textarea{
    margin: 10px;
}
.bestelling_foto {
    width: 100%;
    vertical-align: bottom;
    margin: 0;
}

.betaalwijze_foto {
    width: 70px;
    vertical-align: bottom;
}
.small{
    width: 16.666%;
}
.medium{
    width: 25%;
}
.large{
    width: 50%;
}
.aantalInput{
    width: 5ch;
}
.betaalwijze_input{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

}
#opmerkingen{
    flex-direction: column;
}

#submitbutton{
    background-color: #0090e3;
    color: white;
    height: 50px;
    width: 100%;
    margin: 10px
}
